@import "tailwindcss";
@import "tw-animate-css";
@plugin "daisyui";

:root {
  --background: linear-gradient(135deg, #0f0f0f, #1c1c1c); 
}

body {
  background: var(--background);
  color:white;
}

#particles-js {
  width: 100%;
  height: 100%;
}
